.bg-container{
    background-color: lightcyan;
}
.nav-bg{
    background-color: cornflowerblue;
}
.icon{
    font-size: 42px;
    margin: 16px;
}
.about-heading{
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    margin-bottom: 20px;
}
.para{
    font-size: 24px;
    color: darkslategray;
}
.images{
    width: 40vw;
    margin: 32px;
}
.what-i-do-heading{
    font-size: 50px;
    font-family: 'Trebuchet MS';
    margin-bottom: 20px;
}
.what-i-do-para-bold{
    font-size: 24px;
    color: darkslategray;
    font-weight: 600;
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.projects-card{
    text-align: center;
    margin: 12px;
    padding: 12px;
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: cadetblue;
    border-radius: 10px;
}
.projects-heading{
    padding: 20px;
    font-weight: bold;
    
}

.project-img-small{
    width:150px;
    height: 220px;
    border-radius: 10px;
}
.project-img-big{
    width: 300px;
    border-radius: 10px;
}

.projects-name{
    font-size: 28px;
    font-weight: 500;
    margin: 8px;
}
.projects-description{
    font-size: 16px;
    color: darkslategrey;
}
.projects-button{
    border-radius: 10px;
    width: 80px;
    border-width: 0px;
    background-color: aquamarine;
    text-decoration: none;
}